{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <form id="id_edit_form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-2 text-right"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="id_name">Name:</label>
                    <input class="form-control" id="id_name" name="name" type="text"/>
                </div>
                <div class="form-group">
                    <label for="id_last_name">Last name:</label>
                    <input class="form-control" id="id_last_name" name="last_name" required type="text"/>
                </div>
                <div class="form-group">
                    <label for="id_date_of_birth">Date of birth:</label>
                    <input class="form-control datepicker" id="id_date_of_birth" name="date_of_birth" type="text"/>
                </div>
                <div class="form-group">
                    <label for="id_photo">Photo:</label><br/>
                    <!--Вручную определяем поле chckbox чтоб clear существующее фото из БД-->
                    <img id="person_img" src="{{ STATIC_URL }}img/no_photo.jpg" class="text-center"><br/>
                    <!--<input id="photo-clear_id" name="photo-clear" type="checkbox" />
                    <label for="photo-clear_id">Clear</label>-->
                    <input id="id_photo" name="photo" type="file" />
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="id_email">Email:</label>
                    <input class="form-control" id="id_email" name="email" type="email"/>
                </div>
                <div class="form-group">
                    <label for="id_jabber">Jabber:</label>
                    <input class="form-control" id="id_jabber" name="jabber" type="text"/>
                </div>
                <div class="form-group">
                    <label for="id_skype">Skype:</label>
                    <input class="form-control" id="id_skype" type="text"/>
                </div>
                <div class="form-group">
                    <label for="id_other_contacts">Other contacts:</label>
                    <textarea class="form-control" id="id_other_contacts" cols="23" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="id_bio">Bio:</label>
                    <textarea class="form-control" id="id_bio" cols="23" rows="3"></textarea>
                </div>
                <div id="loading_state" style="display:none;"><span>loading...</span></div>
                <div id="form_submit_state" style="display:none;">"Form submit successfully!"</div>
                <button id="id_submit_btn" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3> <a href="{% url 'hello:requests_page' %}">Requests</a></h3>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src='{% static "js/datepicker.js" %}'></script>
    <script src='{% static "js/ajax_form_module.js" %}'></script>
{% endblock scripts %}