{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-md-1 sbros_col new_padding"></div>
        <div class="col-md-4 sbros_col new_padding">
            <div><h4>Name: {{ person.name }}</h4></div>
            <div><h4>Last name: {{ person.last_name }}</h4></div>
            <div><h4>Date of birth: {{ person.date_of_birth }}</h4></div>
        </div>
        <div class="col-md-4 sbros_col new_padding">
            <div><h4>Contacts:</h4></div>
            <div><h4>Email: {{ person.email }}</h4></div>
            <div><h4>Jabber: {{ person.jabber }}</h4></div>
            <div><h4>Skype: {{ person.other_contacts|safe|linebreaks }}</h4></div>
            <div><h4>Other contacts: <br></h4></div>
            <div><h4>Bio: {{ person.bio|safe|linebreaks }}</h4></div>
        </div>
    </div>


{% endblock %}

   
