.sbros_col{
    padding: 0;
}
body {
    margin: 5px;
}
.logo1 {
    background: rgba(222, 240, 252, 0.4);
    border: 1px solid ;
    box-shadow: 0 0 5px #2caacf;
    border-radius: 10px;
    margin: 2.5px;
    padding: 0 15px;
    box-sizing: border-box;
}

.new_padding{
    padding: 0 30px;
}

.br_border {
    margin: 2px;
}

.hide_element{
    display: none;
}

.errorlist{
    margin: 0px;
    color: #ff383a;
}

.file-upload {
     position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
     overflow: hidden; /* Все что выходит за пределы - скрываем */
     width: 55%; /* Задаем ширину кнопки выбора файла */
     height: auto; /* Задаем высоту кнопки выбора файла */
     background: #2caacf;
     border-radius: 3px;
     padding: 8px 4px;
     color: #fff;
     text-align: center;
}
.file-upload:hover {
     background: #1636cf;
}
#id_photo{
    display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload label {
     /* Растягиваем label на всю возможную площадь блока .file-upload */
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
}
.file-upload span {
     line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}

#photo_div{
    text-align: center;
}

#form_submit_state{
    padding: 4px;
    color: #0362cf;
    box-sizing: border-box;
    font-size: 160%;

}

#img_area, #person_img{
    height: 200px;
    width: 200px;
    border: 2px;
    border-color: #2caacf;
}