{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">

        <title>{% block title %}Django{% endblock title %}</title>
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!--<link rel="stylesheet" type="text/css" href="{% static "/static/css/bootstrap.css" %}">-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/app_style.css' %}" media="screen, projection"/>
        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>

        {% block extra_head %}{% endblock extra_head %}

</head>
<body>
    <div class="container-fluid">
        <header>
            <div class="row">
                <div class="col-md-7 center-block">
                    <h1><a href="{% url 'hello:home_page' %}">42 Coffee Cups Test Assignment</a></h1>
                </div>
                {% block edit_links %}
                    <div class="col-md-2 center-block"></div>
                {% endblock edit_links %}
                {% block login %}
                <div class="col-md-3 center-block">
                    {% if user.username %}
                        <h4>Hello, {{ user.username }}! | <a href="{% url 'hello:logout' %}">Logout</a></h4>
                    {% else %}
                        <h4><a href="{% url 'hello:login' %}">Login</a>, please!</h4>
                    {% endif %}
                </div>
                {% endblock login %}
            </div>
        </header>
        {% block content %}Content{% endblock %}
    </div>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
